.sidebar {
    display:flex;
    flex-direction: column;
    /* z-index: -1; */
    /* position:relative; */
} 
.sidebar-closed {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60px;
    flex: 1;
    
    position: fixed;
    z-index: 100;
    top: 0px;
    height: 100vh;
    padding: 0;
    /* overflow-y: scroll; */
    overflow: hidden;
    padding-bottom: 2rem;
    background: #2c4047;
    border-right: solid 1px white;
}

.sidebar-open {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 550px;
    flex: 1;
    
    position: fixed;
    z-index: 100;
    top: 0px;
    height: 100vh;
    padding: 0;
    /* overflow-y: scroll; */
    overflow: hidden;
    padding-bottom: 2rem;
    background: #2c4047;
    border-right: solid 1px white;
}

.toggle-button {
    height:60px;
    width: 60px;
    padding:0;
    cursor: pointer;
    
    border: none;
    background: transparent;
    outline: none;

}
.toggle-buttons {
    height:60px;
    width: 60px;
    padding:0;
    cursor: pointer;
    
    border: none;
    background: transparent;
    outline: none;
    z-index: 100;
}

.sidebar .sidebar-closed .toggle-button i {
    width:60px;
    border:none;
    height:60px;
    color: white;
    margin-top: 5px;
}

.sidebar .sidebar-open .toggle-button i {
    width:60px;
    border:none;
    height:60px;
    color: white;
    margin-top: 5px;
    margin-left: 40px;
}


.sidebar .toggle-buttons i {
    width:60px;
    border:none;
    height:60px;
    color: white;
    margin-top: 5px;
    /* margin-left: 40px; */
    z-index: 9;
}