.sidebar{
    display: flex;
    height: 100%;
    position: fixed;
    flex-direction: column;
    align-items: center;
    width: 100%;
    flex: 1;
    top: 0px;
    height: 100vh;
    padding: 0;
    padding-bottom: 2rem;
    border-right: solid 1px white;
}
