.not-found {
    width: 100%;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.nf-p {
    text-align: center;
    font-size: 100px;
    color: rgb(160, 158, 158);
}